.side-nav-bar {
  width: 360px;
  height: 100vh;
  position: fixed;
  left: -360px;
  transition: left 0.3s;
  z-index: 1000;
  background-color: #343a40;
  padding: 1rem;
}

.open-sidebar-btn {
  position: fixed;
  left: 10px;
  top: 10px;
  z-index: 1003;
  cursor: pointer;
  padding: 5px 10px;
  background-color: #6c757d;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.side-nav-bar.visible {
  left: 0;
}
